version: "3.8"

services:

  postgres:
    image: postgres:15-alpine
    container_name: postgres-container
    env_file:
      - /root/fastapi/.env
    environment:
      POSTGRES_DB: ${POSTGRES_DBNAME}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DBNAME}"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: redis-container
    volumes:
      - redis_data:/var/lib/redis/data
    command: >
      redis-server
      --requirepass ${REDIS_PASSWORD}
      --bind 0.0.0.0
    restart: unless-stopped
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5

  fastapi:
    image: asdfrewqha/blockchain:latest
    container_name: fastapi-container
    env_file:
      - /root/fastapi/config/.env
    volumes:
      - /root/fastapi/config/.env:/config/.env:ro
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    expose:
      - "8000"
    restart: unless-stopped

  arq:
    image: asdfrewqha/blockchain:latest
    container_name: arq-container
    env_file:
      - /root/fastapi/.env
    command: arq backend.core.worker.WorkerSettings
    depends_on:
      redis:
        condition: service_healthy
    restart: unless-stopped
  ganache:
    image: trufflesuite/ganache:v7.9.1
    container_name: ganache
    ports:
      - "8545:8545"
    command:
      - --wallet.accounts=${REACT_APP_OWNER_PRIVATE_KEY},100000000000000000000
      - --chain.chainId=1337
      - --logging.debug=true

  blockchain:
    build:
      context: ../blockchain
      dockerfile: Dockerfile
    container_name: blockchain
    ports:
      - "2000:2000"
    environment:
      REACT_APP_BLOCKCHAIN_NODE_URL: ${REACT_APP_BLOCKCHAIN_NODE_URL}
      REACT_APP_OWNER_PRIVATE_KEY: ${REACT_APP_OWNER_PRIVATE_KEY}
      REACT_APP_BACKEND_URL: ${REACT_APP_BACKEND_URL}
      REACT_APP_BACKEND_PORT: ${REACT_APP_BACKEND_PORT}
      REACT_APP_GANACHE_URL: ${REACT_APP_GANACHE_URL}
    depends_on:
      - ganache

  nginx:
    image: nginx:alpine
    container_name: nginx-container
    depends_on:
      - fastapi
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /root/fastapi/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
    restart: unless-stopped

volumes:
  postgres_data:
  redis_data:
